/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/yes/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_body__os3iW {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9e3e3;
}

.page_container__hSBvT {
    text-align: center;
}

.page_headerText__7cB95 {
    font-size: 3em;
    color: #d32f2f;
}

.page_gifContainer__1HYeG img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

