/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_body__9Qj2F {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9e3e3;
    flex-direction: column;
}

.page_container__jZF7q {
    text-align: center;
}

.page_title__po7na {
    font-size: 2.5em;
    color: #d32f2f;
}

.page_buttons__sZgB7 {
    margin-top: 20px;
}

.page_yesButton__49oO2 {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.page_noButton__rk_8_ {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page_gifContainer__7CKOa img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

